@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
:root {
    --base-orbit: 4;
  }
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
body {
    background-color: #333;
    min-height: 100vh;
  }
  header,
  main {
    padding: 1rem 2rem;
  }
  nav {
    background-color: orange;
    color: #333;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  nav a,
  nav a:visited {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 3.6rem;
    letter-spacing: 3px;
    padding: 1.2rem 0;
    color: #444;
    text-shadow: 1px 1px 2px white;
    cursor: pointer;
    text-decoration-line: overline underline;
    position: relative;
    z-index: 10;
  }
  nav a:hover,
  nav a:active,
  nav a:focus {
    color: #000;
  }
  nav a:hover::before,
  nav a:active::before,
  nav a:focus::before {
    animation-play-state: paused;
  }
  
  nav a::before {
    content: attr(data-home);
    text-decoration-style: none;
    text-shadow: none;
    position: absolute;
    z-index: -1;
    color: white;
    border-radius: 50%;
    width: 5ch;
    height: 5ch;
    text-align: center;
    opacity: 0.6;
    top: 2rem;
    left: 0;
    transform-origin: 5ch 0;
    animation-name: orbit;
    animation-duration: 2.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    box-shadow: 1px 1px 2px #333;
  }
  nav a[data-home='Earth']::before {
    background-color: cornflowerblue;
    color: white;
    width: 7ch;
    height: 7ch;
    animation-duration: calc(365ms * var(--base-orbit));
  }
  nav a[data-home='Mars']::before {
    background-color: orangered;
    color: white;
    animation-duration: calc(687ms * var(--base-orbit));
  }
  nav a[data-home='Belt']::before {
    background-color: #888;
    border-top-right-radius: 40% 60%;
    border-top-left-radius: 30% 70%;
    border-bottom-left-radius: 80% 80%;
    border-bottom-right-radius: 70% 30%;
    height: 4ch;
    width: 5ch;
    color: white;
    animation-duration: calc(2000ms * var(--base-orbit));
  }
  @keyframes orbit {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(359deg);
    }
  }
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
  }
  .box {
    width: 18vw;
    height: 18vw;
    padding: 1rem;
    border-radius: 1rem;
    opacity: 0;
  }
  .box.earth {
    background-color: cornflowerblue;
    color: cornsilk;
  }
  .box.mars {
    background-color: orangered;
    color: #222;
  }
  .box.belt {
    background-color: #888;
    color: #222;
  }
  main.earth .box.earth {
    opacity: 1;
  }
  main.mars .box.mars {
    opacity: 1;
  }
  main.belt .box.belt {
    opacity: 1;
  }
  main.all .box.earth,
  main.all .box.mars,
  main.all .box.belt {
    opacity: 1;
  }
  h1 {
    color: orange;
  }
  h2 {
    color: orangered;
  }
  p {
    font-size: 1.2rem;
    text-align: center;
  }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
